// color palette - these colors will be the color swatches of the Colors section
$blue: #4285F4;
$green: #34A853;
$yellow: #FBBC05;
$red: #EA4335;
$white: #fff;

$color-1: $blue; // Action color
$color-2: $green; 
$color-3: $yellow; 
$color-4: $red; 
$color-5: $white;

// additional colors

$success: $green; 
$alert: $color-3; 
