/**************************************
 * Layout Mixins
 **************************************/
@mixin body-cards{
        flex:$flex-column-support;
        padding:5px;
        margin-top:1%;
        background: $Card1;
        box-shadow: $shadows-for-boxes;
    }
@mixin card-layout{
	> h3 {
          box-sizing: border-box;
          width: $full-width;
        }
        > p {
          box-sizing: border-box;
          width: 90%;
          margin: 10px auto;
        }
}
@mixin design-footer{
	flex:$flex-full;
	background-color:transparent;
	flex-direction:$flex-row;
	text-align: center !important;
}
@mixin design-sidebar{
	position: fixed;
	width:25%;
	left: 71vw;
	top: 0;
	border: 2px solid black;
	border-radius: 0px 0px 14px 14px;
	background: $Card2;
  transform: scale(1, -1);
  transform:rotate(360deg);
}
@mixin flex-full{
  display: $display-flex;
  width: 100%;
	text-align: $text-align;
	border-radius: $border-radius-size;
	position: $position;
	text-align: $paragraph;
	box-shadow:$shadows-for-boxes;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none;
}

@mixin flex-half{
  width: 50%;
  display: $display-flex;
  flex-wrap: $flex-wrap;
  justify-content: space-between;
	text-align: $text-align;
	border-radius: $border-radius-size;
	position: $position;
	text-align: $paragraph;
	box-shadow: $shadows-for-boxes;
	padding: 1em;
	margin-bottom: 1em;
}

@mixin flex-third{
  display: $display-flex;
  flex-wrap: $flex-wrap;
  width: 33%;
	text-align: $text-align;
	border-radius: $border-radius-size;
	position: $position;
	text-align: $paragraph;
	box-shadow: $shadows-for-boxes;
	padding: 1em;
	margin-bottom: 1em;
}
@mixin flex-wrapping{
    display: flex;
	flex-wrap: wrap;
}

@mixin preamble-layout{
// 	> h3 {
//           box-sizing: border-box;
//           width: $full-width;
//         }

//         > p {
//           box-sizing: border-box;
//           width: 32%;
//         }
// }
      box-shadow:$shadows-for-boxes;
	justify-content: space-between;
	align-self:$paragraph;
	padding:20px;
	margin-top:2%;
	margin-bottom:2%;
	> h3,
    > p[role="contentinfo"] {
      width: $full-width;
      box-sizing: border-box;
    }

    > p {
      width: 31%;
      box-sizing: border-box;
    }
}
@mixin requirements-layout{
	box-shadow:$shadows-for-boxes;
	justify-content: space-between;
	align-self:$paragraph;
	padding:20px;
	margin-top:2%;
	margin-bottom:2%;
	> h3,
    > p[role="contentinfo"] {
      width: $full-width;
      box-sizing: border-box;
    }

    > p {
      width: 49%;
      box-sizing: border-box;
    }
}
@mixin sidebar-hover{
    overflow: visible;
    background: $Card2;
    height: $full-width;
    transition: .4s ease .25s;
    transition-property: height;
    transition-duration: .5s;
    transition-delay: .1s;
}
@mixin sidebar-wrapper{
    height: 40px;
    overflow: hidden;
    z-index: 1000;
    border-radius: 0px 2px 14px 14px;
}

@mixin support-section{
	display:$display-flex;
	flex-wrap:$flex-wrap;
	justify-content:space-around;
  justify-content:center;
}


/**************************************
 * Style Mixins
 **************************************/


@mixin link1{
  text-decoration: none;
	color: $Card4;
	position: relative;
}

@mixin link2{
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -1px;
  height: 2px;
  background-color: #333;
  transition: all 0.3s linear;
}

//TODO: What is the point of this mixin?
// This is almost as much work as just writing out the rules.
// Brother Blaylock
@mixin link3{
  width: 100%;
  left: 0;
}
