/**************************************
 * Variables
 **************************************/
$border-radius-size: 0px;
$Card1: HSLA(0, 0%, 100%, 1.00); // white
$Card3: HSLA(149, 69%, 36%, .75); // green
$Card4: HSLA(45, 89%, 57%, 1.00); // yellow
$Card2: HSLA(200, 88%, 53%, 1.00); // blue
$Card5: HSLA(357, 68%, 53%, 1.00); // red
$Card6: HSLA(0, 0%, 95%, 1.00); // gray
$display-flex:flex;
$flex-full: 0 0 95%;
$flex-half: 0 0 56%;
$flex-third: 0 0 34%;
$flex-column-support: 0 0 25%;
$flex-row: row;
$flex-wrap:wrap;
$paragraph: left;
$position: relative;
//box shadow for most boxes 
$shadows-for-boxes: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$text-align: center;
